.iump-payment-box.ump_payfast-active{
    background-color: #C51D36;
}
.iump-ump_payfast-box {
  background-color: #53ba73 !important;
}
.iump-ump_payfast-box .icon-ump-payfast-logo:before {
    content: "\e812" !important;
    font-size:70px !important;
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center !important;
}
